.nav, nav:visited {
    color: black;
    margin: 20px;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.nav_logout {
    background-color: #424242;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.nav_logout:hover {
    filter: brightness(110%);
}